@font-face {
    font-family: 'Roboto';
    src: url(../assets/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url(../assets/fonts/Euclid\ Circular\ A\ Regular.ttf);
}