$main-color: #292D32;
$second-color: #838383;

$header-font: normal 400 50px 'Roboto', sans-serif;
$text-font: normal 400 18px 'Roboto', sans-serif;
$second-font: normal 400 18px 'Euclid Circular A', sans-serif;